@model Post

<form asp-controller="Post" asp-action="EditaPost" method="post">

    @Html.EditorFor(p => p)

    <button type="submit">Atualizar</button>

</form>


@section Scripts {
    <partial name="_Scripts" />
}