@model Post

<form asp-controller="Post" asp-action="Adiciona" method="post">
    @Html.EditorFor(p => p)
    <button type="submit">Cadastrar</button>
</form>


@section Scripts {
    <partial name="_Scripts" />
}
