<html>

<head>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Resumo</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Harry Potter 1</td>
                <td>Pedra Filosofal</td>
                <td>Filme, Livro</td>
            </tr>
            <tr>
                <td>Cassino Royale</td>
                <td>007</td>
                <td>Filme</td>
            </tr>
            <tr>
                <td>Monge e o Executivo</td>
                <td>Romance sobre Liderança</td>
                <td>Livro</td>
            </tr>
            <tr>
                <td>New York, New York</td>
                <td>Sucesso de Frank Sinatra</td>
                <td>Música</td>
            </tr>
        </tbody>
    </table>
</body>

</html>